{% extends '_baseReduced.html.twig' %}

{% block title %}
    Admin Edit Project Form page
{% endblock %}

{% block NavStyle %} {% endblock %}

{% block main %}

    <h4>
        <span id = "alignLeft"> Admin (Edit Project Form) </span>
        <span id = "floatRight" class = "removeBullet"> <a href = "/logout" class = "styleLogin"> Log out </a> </span>
        <span id = "alignRight"> You are logged in as {{ userSession }} &nbsp;&nbsp; </span>
    </h4>

    <form method = "post" action = "/adminEditProjectFromDb">
            <input type = "hidden" name = "id" value = "{{ project.id }}">
        <p>
            <input type = "text" name = "projectName"  value = "{{ project.projectName }}" placeholder = "Project Name">
        </p>
        <p>
            <input type = "text" name = "projectTitle" value = "{{ project.projectTitle }}" placeholder = "Project Title">
        </p>
        <p>
            <input type = "text"  name = "projectSupervisor" value = "{{ project.projectSupervisor }}" placeholder = "Project Supervisor">
        </p>
        <p>
            <input type = "text" name = "projectStatus" value = "{{ project.projectStatus }}" placeholder = "Project Status">
        </p>
        <p>
            <input type = "submit" value = "Edit Project">
        </p>
    </form>

    <div>
        <ul>
            <li class = "removeBullet"> <a href = "/adminIndex" class = "editLinks"> Back Home </a> </li>
        </ul>
    </div>

{% endblock %}
