{% extends '_baseReduced.html.twig' %}

{% block title %}
    Admin Delete Member page
{% endblock %}

{% block NavStyle %} {% endblock %}

{% block main %}

    <h4>
        <span id = "alignLeft"> Admin (Delete Member) </span>
        <span id = "floatRight" class = "removeBullet"> <a href = "/logout" class = "styleLogin"> Log out </a> </span>
        <span id = "alignRight"> You are logged in as {{ userSession }} &nbsp;&nbsp; </span>
    </h4>

    <table>
        <tr>
            <th> Member ID </th>
            <th> Member Name </th>
            <th> Member Surname </th>
            <th> Project ID </th>
            <th> Email </th>
            <th> Member Status </th>
        </tr>
        {% for member in members %}
            <tr>
                <td> {{ member.id }} </td>
                <td> {{ member.memberName }} </td>
                <td> {{ member.memberSurname }} </td>
                <td> {{ member.projectId }} </td>
                <td> {{ member.email }} </td>
                <td> {{ member.memberStatus }} </td>
                <td> <a href = "adminDeleteMemberFromDb/{{ member.id }}"> Delete </a> </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <ul>
            <li class = "removeBullet"> <a href = "/adminIndex" class = "editLinks"> Back Home </a> </li>
        </ul>
    </div>

{% endblock %}
