{% extends '_baseReduced.html.twig' %}

{% block title %}
    Admin Edit Student Form page
{% endblock %}

{% block NavStyle %} {% endblock %}

{% block main %}

    <h4>
        <span id = "alignLeft"> Admin (Edit Student Form) </span>
        <span id = "floatRight" class = "removeBullet"> <a href = "/logout" class = "styleLogin"> Log out </a> </span>
        <span id = "alignRight"> You are logged in as {{ userSession }} &nbsp;&nbsp; </span>
    </h4>

    <form method = "post" action = "/adminEditStudentFromDb">
            <input type = "hidden" name = "id" value = "{{ student.id }}">
        <p>
            <input type = "text" name = "studentName"  value = "{{ student.studentName }}" placeholder = "Student Name">
        </p>
        <p>
            <input type = "text" name = "studentSurname" value = "{{ student.studentSurname }}" placeholder = "Student Surname">
        </p>
        <p>
            <input type = "text"  name = "projectId" value = "{{ student.projectId }}" placeholder = "Project Id">
        </p>
        <p>
            <input type = "text" name = "email" value = "{{ student.email }}" placeholder = "Email">
        </p>
        <p>
            <input type = "text" name = "memberId" value = "{{ student.memberId }}" placeholder = "Member Id">
        </p>
        <p>
            <input type = "text" name = "imageName" value = "{{ student.imageName }}" placeholder = "Image Name">
        </p>
        <p>
            <input type = "submit" value = "Edit Student">
        </p>
    </form>

    <div>
        <ul>
            <li class = "removeBullet"> <a href = "/adminIndex" class = "editLinks"> Back Home </a> </li>
        </ul>
    </div>

{% endblock %}
