{% extends '_base.html.twig' %}

{% block title %}
    Projects page
{% endblock %}

{% block projectsNavStyle %} current_page {% endblock %}

{% block main %}

    <h2>
        List of Projects - {{ status }}
    </h2>

    <div id = "fixMarginForButtons">
        <form method = "get" action = "/projects" class = "fixDisplayForms">
            <input type = "submit" value = "All Projects" class = "styleButton">
        </form>

        <form method = "get" action = "/showCurrentProjects" class = "fixDisplayForms" id = "fixMarginMiddleButton">
            <input type = "submit" value = "Current Projects" class = "styleButton">
        </form>

        <form method = "get" action = "/showPastProjects" class = "fixDisplayForms">
            <input type = "submit" value = "Past Projects" class = "styleButton">
        </form>
    </div>

    <table>
        <tr>
            <th> Project ID </th>
            <th> Project Name </th>
            <th> Project Title </th>
            <th> Project Supervisor </th>
            <th> Project Status </th>
        </tr>
        {% for project in projects %}
        <tr>
            <td> {{ project.id }} </td>
            <td> {{ project.projectName }} </td>
            <td> {{ project.projectTitle }} </td>
            <td> {{ project.projectSupervisor }} </td>
            <td> {{ project.projectStatus }} </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
