{% extends '_baseReduced.html.twig' %}

{% block title %}
    Student Index page
{% endblock %}

{% block NavStyle %} {% endblock %}

{% block main %}

    <h4>
        <span id = "alignLeft"> Student (Home Page) </span>
        <span id = "floatRight" class = "removeBullet"> <a href = "/logout" class = "styleLogin"> Log out </a> </span>
        <span id = "alignRight"> You are logged in as {{ userSession }} &nbsp;&nbsp; </span>
    </h4>

    <table>
        <tr>
            <th> Student ID </th>
            <th> Student Name </th>
            <th> Student Surname </th>
            <th> Project ID </th>
            <th> Email </th>
            <th> Supervisor </th>
            <th> Image Name </th>
        </tr>
        <tr>
            <td> {{ student.id }} </td>
            <td> {{ student.studentName }} </td>
            <td> {{ student.studentSurname }} </td>
            <td> {{ student.projectId }} </td>
            <td> {{ student.email }} </td>
            <td> {{ student.memberId }} </td>
            <td> {{ student.imageName }}</td>
            <td> <a href = "studentEditForm/{{ student.id }}"> Edit </a> </td>
        </tr>
    </table>

    <form method = "post" action = "/studentUploadPhoto" enctype = "multipart/form-data">
        <input type = "hidden" name = "id" value = "{{ student.id }}">
        <input type = "hidden" name = "studentName"  value = "{{ student.studentName }}">
        <input type = "hidden" name = "studentSurname" value = "{{ student.studentSurname }}">
        <input type = "hidden"  name = "projectId" value = "{{ student.projectId }}">
        <input type = "hidden" name = "email" value = "{{ student.email }}">
        <input type = "hidden" name = "memberId" value = "{{ student.memberId }}">
        <input type = "hidden" name = "imageName" value = "{{ student.imageName }}">
        <p>
            <span id = "alignLeft"> Upload your profile picture </span>
        </p>
        <p>
            <input type = "file" name = "uploadedImage">
        </p>
        <p>
            <input type = "submit" value = "Load Picture">
        </p>
        <p>
            <img src = "../uploads/{{ student.imageName }}" alt = "Profile Image" id = "profilePicture">
        </p>
    </form>

{% endblock %}
